.grille{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.grille__article{
    flex : 0 1 250px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.grille__article h6,
.grille__article p:nth-last-of-type(1){
    margin: 0;
}