.grille{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.grille__article{
    //flex : 0 1 300px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.grille__article h6,
.grille__article p:nth-last-of-type(1){
    margin: 0;
}
.grille-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr) );
    gap: 1rem;
    max-width: 100%;
}
.grille-grid img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

