.menu__primaire{
    display: flex;
    justify-content: space-between;
    flex-direction: flex-end;
}
.menu__primaire .menu{
    display: flex;
    list-style-type: none;
    margin-left: 12%;
    gap: 1.5rem;
}

.menu__primaire .menu-item{
    background-color: none;
}
.menu__primaire .menu-item a{
    text-decoration: none;
    padding-left: 2rem;

}