.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"menu"
		"header"
		"main"
		"sidebar"
		"footer";
	@media screen and(min-width: 700px){

	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"menu main"
		"sidebar main"
		". main" // le point est ce qui est caché sous le sidebar
		"footer footer";
	}
}

.site__header {
	grid-area: header;
	background-color: grey;
	padding: 2rem 1.5rem;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 1.5rem;
}

.site__sidebar { /* widget-area */
	grid-area: sidebar;
	background-color: rgb(216, 216, 216);
	padding: 1.5rem;
}

.site__footer {
	grid-area: footer;
	background-color: greenyellow;
	padding: 0 1.5rem 2rem 1.5rem;
}

// @import "no-sidebar";
